body {
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    margin: 0;
}

label {
    display: block;
    margin: 0.5rem 0;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form {
    margin: 0 auto;
    padding: 2em;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
}

fieldset {
    border: none;
    border-bottom: 3px solid #3b3b4f;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
}

fieldset:last-of-type {
    border-bottom: none;
}

input, textarea, select {
    min-height: 2em;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

input, textarea {
    color: #ffffff;
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
}

.inline {
    width: unset;
    margin-right: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    vertical-align: middle;
}

input[type="submit"] {
    background-color: #3b3b4f;
    border-color: white;
    margin: 1em auto;
    height: 2em;
    display: block;
    width: 60%;
    min-width: 300px;
    font-size: 1.1rem;
}

input[type="file"] {
   padding: 1px 2px;

}

a {
    color: #dfdfe2;
}
