h1, h2, p {
    text-align: center;
}

body {
    padding: 20px;
    background-color: burlywood; 
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
}

.established {
    font-style: italic;
}

h1 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h1, h2 {
    font-family: Impact, serif;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin-top: 25px;
}

.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}

.flavor, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}

.item p {
font-size: 18px;
margin-top: 5px;
margin-bottom: 5px;
display: inline-block;
}

/* FOOTER */

footer {
    font-size: 14px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}

.address {
    margin-bottom: 5px;
}

img {
    display: block;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
}