@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background: #f5f6f7
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

#logo {
    background-color: #0a0a23;
    width: max(10rem, 18vw);
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
    
}

header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
}

main {
    padding-top: 25px;
}

nav > ul{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
}

li > a {
  color: #ffffff; 
  text-decoration: none;
}

h1, h2 {
    font-family: Verdana, Tahoma;
}

h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0;
    padding-top: 60px; 
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

h3::before {
  content: "Question #";
}

section {
    width:80%; 
    margin-top:0; 
    margin-right:auto; 
    margin-bottom:10px; 
    margin-left:auto; 
    max-width:600px;
}

.info {
    padding-top: 1px;
    padding-bottom: 0;
    padding-left: 1px;
    padding-right: 0;
}

.formrow {
  padding: 0 1px ;
  margin-top:1px;
 
}

.info > input {
  font-size:14px;
  width: 50%;
  text-align: left;
}

.info > label {
    width: 10%;
    min-width: 55px;   
    text-align: right;
}

.info > label, .info > input {
    display: inline-block;
}

.question-block {
   text-align: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px; 
}

h3 {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 1.375rem;
}

.question {
    border: none;
    padding: 0;
}


.answers-list {
    list-style: none;
    padding: 0;
}

button {
    display: block;
    margin: 40px auto;
    width: 40%;
    padding: 15px;
    font-size: 1.438rem;
    background: #d0d0d5;
    border: 3px solid #3b3b4f;
}

footer {
    background-color: #2a2a40;
    display: flex;
    justify-content: center;
}

footer, footer a {
    color: white;
}

address {
    text-align: center;
    padding: 1px;
}