h1 {
    text-align: center;
}

.marker {
    height: 25px;
    width: 200px;
    margin: 10px auto;
}

.red {
    background: linear-gradient( rgb(122, 74, 14), rgb(245, 62,113), rgb(162, 27, 27));
    box-shadow: 0px 0px 20px 0 rgba(83, 14, 14, 0.8);
    
}

.green {
    background: linear-gradient( #55680D, #71F53E, #116C31);
    box-shadow: 0px 0px 20px 0 #3B7E20CC;
}

.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
   box-shadow: 0px 0px 20px 0 hsla(223, 59%, 31%, 0.8);
}

.container {
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(255, 255, 255);
}

.sleeve {
    background-color: rgba(255, 255, 255, 50%);
    border-left: 10px double black;
    border-left-color: rgba(0, 0, 0, 75%);
    width: 110px;
    height: 25px;
}

.cap {
    width: 60px;
    height: 25px;
}

.sleeve, .cap {
    display: inline-block;
}